@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.landing {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-rows: [landing-header-start] 80vh [landing-header-end landing-features-start] auto [landing-features-end landing-details-start] 100vh [landing-details-end landing-community-start] 50vh [landing-community-end landing-signup-start] 30vh [landing-signup-end];
  grid-template-columns: [landing-gutter-left-start] 1fr [landing-gutter-left-end landing-content-start] minmax(400px, 1200px) [landing-content-end landing-gutter-right-start] 1fr [landing-gutter-right-end];
  row-gap: 3rem;
  margin: 3rem 0;
}

/* Header Start */
.landing__header {
  grid-column: 2 / 3;
  display: flex;
}

.landing__header--left {
  width: 50%;
  position: relative;
}

.landing__header--text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-size: 2.25rem;
  /* border: 2px solid black; */
  width: 65%;
}

.landing__header--text-box a{
  text-decoration: none;
  font-size: 1.25rem;
  color: white;
  background-color: #18a0fb;
  border-radius: 10px;
  cursor: pointer;
  padding: .5rem 2rem;
}

.landing__header--right {
  content: "";
  width: 50%;
  height: 100%;
  background-image:
    url("https://i.imgur.com/jZFRbvS.png");
  background-size: cover;
  background-position-x: 90%;
  border-radius: 5px;
}

.landing__header--left span {
  display: block;
}

/* Header End */
/* Features Start*/

.landing__features {
  background-color: lightgray;
  grid-column: 2 / 3;
  border-radius: 5px;
}

.landing__features-header {
  font-size: 2.25rem;
  text-align: center;
  margin-top: 3rem;
}

.landing__features-main {
  display: grid;
  margin: 3rem;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: repeat(2, 45%);
  grid-gap: 3rem;
  row-gap: 3rem;
}

.landing__feature-head {
  font-weight: bold;
  /* color: white; */
  display: block;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* Features End */
/* Details Start */

.landing__details {
  background-color: purple;
  grid-column: 2 / 3;
}

.landing__community {
  background-color: grey;
  grid-column: 2 / 3;
}

.landing__signup {
  background-color: lightblue;
  grid-column: 2 / 3;
}